@charset "UTF-8";

body {
   padding: 0; 
   margin: 0;
   height: 100vh;
   overflow: hidden;
}

#maincontents {
   width: 100%;
   overflow: hidden;
   position: fixed;
   top: 36px;
   left: 0px;
   z-index: 99;
   margin-bottom: 36px;
}

#ke-outerwrapper, #ke-innerwrapper, #keDiv {
   height: 100%;
}

#toolbarwrapper {
   background-color: #1F4661;
   position: fixed;
   top: 0;
   left 0;
   vertical-align: top;
   width: 100vw;
   z-index: 100;
}

#toolbar div {
   display: inline-block;
   vertical-align: top;
}

#buttonbar {
   user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

#buttonbar img {
   max-width: 24px;
   max-height: 24px;
   vertical-align: middle;
   text-align: center;
}

#buttonbar .inactive {
   border: 2px solid transparent;
   background-color: rgb(100,100,100);
}
#buttonbar .processing {
   border: 2px solid yellow;
   background-image: url('/icons/wait.gif');
   background-size: 24px 24px;
   background-repeat: no-repeat;
   background-position: center;
}
#buttonbar div.processing img {
   display: none;
}
#buttonbar .errorbutton {
   border: 2px solid red;
}

#buttonbar div {
   background-color: rgb(150,150,150);
   cursor: pointer;
   text-align: center;
   vertical-align: middle;
   margin: 6px;
   padding: 3px;
   border-radius: 3px;
   height: 24px;
   width: 24px;
   border: 2px solid rgb(190,220,255);
}

#buttonbar div:hover {
   background-color: rgb(235,235,235);  	
}

#commandform input[type="submit"] {
   display: none;
}

.CodeMirror {
   height: 100%;
   font-size: 18px;
   font-family: 'Hasklig', 'Iosevka', 'Fira Code', 'Ubuntu Mono', 'Font Awesome 5 Free', 'Font Awesome 5 Brands', monospace; 
}

.CodeMirror-matchingbracket {
    background-color: black !important;
} 