@charset "UTF-8";

body {
    background-color: #112435;
}

#resouterwrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


#resinnerwrapper {
    height: 100%;
    overflow: auto;
}

#resinnerwrapper .outputimage {
    width: 100%;
}

.outputtoolbar {
    z-index: 20;
    position: fixed;
    top: 0;
    right: 0;
    background-color: transparent;
    color: transparent;
    height: 28px;
    padding: 6px;
    text-align: right;
    width: 100%;
    vertical-align: top;
}

.outputtoolbar:hover {
    background-color: rgba(180,210,255,0.9);
    color: black;
    vertical-align: top;
}

.outputtoolbar input {
    display: none;
    height: 18px;
    margin-right: 1em;
    position: relative;
    top: 4px;
}

.outputtoolbar:hover input {
    display: inline-block;
    height: 18px;
}

.outputtoolbar:hover .outputtbarbutton {
    display: inline-block;
}

.outputtbarbutton {
    display: none;
    padding: 2px;
    border-radius: 3px;
    background-color: LightGray;
    margin-left: 0.5em;
    height: 22px !important;
    width: 22px !important;
    text-align: center;
    border: 1px solid blue;
}

.outputtbarbutton img {
    max-height: 18px;
    max-width: 18px;
    vertical-align: middle;
}

.outputtbarbutton:hover {
    background-color: white;
    cursor: pointer;
}